
.nav {

    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
    

    &__link {
        @extend %link-style;

    }

    &__link--select {

        font-size: .85em;
        font-weight: 700;
        color: rgb(99, 99, 124);
    }

}

.landing {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 89%;
    overflow: hidden;   
 
    margin-top: 1em;


    &__elipse {
        
        position: absolute;
        top: 250px;
        right: -50px;
        height: 700px;
        
    }

    &__elipse--small {
        height: 250px ;
        transform: rotate(45deg) ;
        
        left: 50px;
        top: 600px;
    }

    &__imglogo {
        
        margin-left: 15%;
        height: 35em;

    }
 

    &__article {
        display: flex;
        
        margin-left: 14%;
        width: 50%;
        position: relative;
        
    }

    &__title {
        position: absolute;
        top: 650px;
        left: -150px;
        
        font-family: 'lato';
        font-size: 4.5em;
        line-height: 65px;
        font-weight: 900;

        color: $darkGray;

    }

    &__title--posters{
        color: $mainColor;
    }

    &__imgArt {
        height: 750px;
        margin-top: 25%;
        
    }
}